*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
.general-wrapper{

}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    width: 26rem;
}

.wrapper-container{
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
}

h1{
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
}

h3{
    font-style: normal;
    font-weight: 300;
    font-size: 1.56rem;
    line-height: 2.125;
}
img{
    width: 100%;
    height: 100%;
}
.cloud-img{
}

a{
    font-size: 1.25rem;
    font-weight: 400;
    color:#000000
}
a:hover{
    color: rgb(96, 98, 99);
}


button{
    padding:  17px 52.28px 17px 52px;
    background: #000000;
    border-radius: 2px;
    color: white;
    margin-left: 10rem;
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: 5rem;
}

h4{
    font-size: 1.5rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    margin-left: 11rem;

}

  /* ============MEDIA QUERIES (small DEVICES)========== */
  @media screen and (max-width: 600px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr;
      padding: 1rem;
      
    }
    a{
        margin-bottom: 2rem;
        color: blue
    }
    h3{
        line-height: 2rem;
    }
    .container{
       width: 90vw;
     }

    .services-container{
       padding: 3rem;
    }
    button{
        margin-left: 1rem;
    }
    h4{
        font-size: 1.5rem;
        margin-left: 2rem;
        display: block;
}
.general-wrapper{
    width: 0;
 }
 
 .wrapper{
    width: 0;
  }
}